
AI 大模型之美/cc.en.300.vec.gz
AI 大模型之美/cc.en.300.bin
AI 大模型之美/cc.en.300.bin.gz
AI 大模型之美/cc.zh.300.bin.gz
AI 大模型之美/cc.zh.300.vec
AI 大模型之美/cc.zh.300.vec.gz
AI 大模型之美/colab_data/.DS_Store
AI 大模型之美/data/.DS_Store
AI 大模型之美/data/mr_fujino/.DS_Store
AI 大模型之美/data/podcast_clip_0.mp3
AI 大模型之美/data/podcast_clip_1.mp3
AI 大模型之美/data/podcast_clip_10.mp3
AI 大模型之美/data/podcast_clip_2.mp3
AI 大模型之美/data/podcast_clip_3.mp3
AI 大模型之美/data/podcast_clip_4.mp3
AI 大模型之美/data/podcast_clip_5.mp3
AI 大模型之美/data/podcast_clip_6.mp3
AI 大模型之美/data/podcast_clip_7.mp3
AI 大模型之美/data/podcast_clip_8.mp3
AI 大模型之美/data/podcast_clip_9.mp3
AI 大模型之美/data/podcast_long.mp3
AI 大模型之美/data/podcast_long.mp4
AI 大模型之美/data/podcast_regular_clip_0.mp3
AI 大模型之美/data/podcast_regular_clip_1.mp3
AI 大模型之美/data/podcast_regular_clip_2.mp3
AI 大模型之美/data/podcast_regular_clip_3.mp3
AI 大模型之美/data/podcast_regular_clip_4.mp3
AI 大模型之美/data/podcast_regular_clip_5.mp3
AI 大模型之美/data/podcast_regular_clip_6.mp3
语音识别ASR/data/podcast_long.mp4
translate/opus-2020-07-17/config.mk
translate/opus-2020-07-17/decoder.yml
translate/opus-2020-07-17/LICENSE
translate/opus-2020-07-17/opus.spm32k-spm32k.transformer.model1.npz.best-perplexity.npz
translate/opus-2020-07-17/opus.spm32k-spm32k.transformer.train1.log
translate/opus-2020-07-17/opus.spm32k-spm32k.transformer.valid1.log
translate/opus-2020-07-17/opus.spm32k-spm32k.vocab.yml
translate/opus-2020-07-17/postprocess.sh
translate/opus-2020-07-17/preprocess.sh
translate/opus-2020-07-17/README.md
translate/opus-2020-07-17/source.spm
translate/opus-2020-07-17/source.tcmodel
translate/opus-2020-07-17/target.spm
cv_unet_person-image-cartoon/.bash_profile
.DS_Store
